<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="tel:1-888-983-3240" class="btn btn-phone pull-right visible-xs"><span class="glyphicon glyphicon-earphone"></span></a>
            <a ui-sref="index" class="navbar-brand" id="logo"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" ng-include src="'views/partials/_nav.html'"></ul>
        </div>

    </div>
</nav>