<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div>Loans <span class="glyphicon glyphicon-chevron-down"></span></div>
    </a>
    <ul class="dropdown-menu">
        <li><a ui-sref="index">Loan</a></li>
        <li><a ui-sref="index">Loan</a></li>
        <li><a ui-sref="index">Loan</a></li>
        <li><a ui-sref="index">Loan</a></li>
    </ul>
</li>
<li><a ui-sref="index"><div>Knowledge Cafe</div></a></li>
<li><a ui-sref="index"><div>Blogs</div></a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div>About <span class="glyphicon glyphicon-chevron-down"></span></div>
    </a>
    <ul class="dropdown-menu">
        <li><a ui-sref="index">Stuff</a></li>
        <li><a ui-sref="index">Stuff</a></li>
        <li><a ui-sref="index">Stuff</a></li>
        <li><a ui-sref="index">Stuff</a></li>
    </ul>
</li>

<li><a ui-sref="index" id="nav-login"><div><span class="glyphicon glyphicon-lock"></span>Login</div></a></li>
<p class="navbar-text hidden-xs"><span class="glyphicon glyphicon-earphone"></span>888-983-3240</p>